body {
  font-family: verdana;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, form { margin: 0; padding: 0; }

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

p {
  font-size: 90%;
}

section {
  background-color: white;
  border-top: 10px solid #c6cfa1;
  padding: 50px;
  margin-bottom: 50px;
}

.table {
  margin-top: 20px;
  width: 100%;
  border-spacing: 0;
}

.table th {
  background-color: #778055;
  color: white;
  padding: 5px;
  font-size: 90%;
  font-weight: 100;
  text-align: left;
}

.table td {
  padding: 5px;
  font-size: 90%;
  font-weight: 100;
  border-bottom: 1px solid #778055;
}
